body{
    background-color: #987070;
}

nav {
    background-color: #C39898;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    padding: 0;
}

nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    border: 1px solid #987070;
}

nav ul li a:hover {
    background-color: #DBB5B5;
}

div{
    flex: 1;
    padding: 20px;
    border: 1px solid #987070;
    text-align: center;
    background-color: #F1E5D1;
}

section{
    flex: 1;
    padding: 20px;
    border: 1px solid #987070;
    text-align: center;
    background-color: #F1E5D1;
}

.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}

.tituloMax{
    background-color: #C39898;
}
